<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:box-shadow="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
  <title>인물 퀴즈</title>
  <style>

    .container{
      display: flex;
      flex-direction: column;
    }

    .game-button{
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }



  </style>
</head>
<th:block layout:fragment="content">

  <div class="container">
    <a th:href="@{/game2/view?sex=1}" class="game-button">남자</a>
    <a th:href="@{/game2/view?sex=2}" class="game-button">여자</a>
  </div>
</th:block>
</html>