<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:box-shadow="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
  <title>최신 뉴스</title>
  <style>

    .container {
      display: flex;
      flex-wrap: wrap; /* 요소들이 한 줄에 다 들어가지 않을 경우 자동으로 다음 줄로 넘어감 */
      justify-content: flex-start; /* 요소들을 왼쪽으로 정렬 */
      align-items: flex-start;
      max-height: 200px;
      overflow-x: scroll; /* 컨테이너의 내용이 넘칠 경우 스크롤 생성 */
      overflow-y: hidden; /* 세로 스크롤을 숨김 */
    }

    a.game-button {
      margin: 10px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      flex-shrink: 0;
    }




  </style>
</head>
<th:block layout:fragment="content">

  <div class="container">
    <a th:href="@{/newsDetail?category=101}" class="game-button">정치</a>
    <a th:href="@{/newsDetail?category=102}" class="game-button">경제</a>
    <a th:href="@{/newsDetail?category=103}" class="game-button">사회</a>
    <a th:href="@{/newsDetail?category=105}" class="game-button">IT/과학</a>
  </div>
</th:block>
</html>