<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:box-shadow="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
  <title>최신 뉴스</title>
  <style>

    .container{
      display: flex;
      flex-direction: column;
    }


  </style>
</head>
<th:block layout:fragment="content">

  <div class="container">
    <a th:href="@{/newsDetail?category=101}" class="game-button">정치</a>
    <a th:href="@{/newsDetail?category=102}" class="game-button">경제</a>
    <a th:href="@{/newsDetail?category=103}" class="game-button">사회</a>
  </div>
</th:block>
</html>