<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <style>
        div.footer-copyright{
            font-family: 'Dongle', sans-serif;
            font-size: 30px;
        }
    </style>
    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3" style="margin-top: 80px" >
            © 2023 MoonJaeSeung. 본 사이트는 상업적 목적이나 수익을 추구하지 않습니다.
            <br>
        </div>
    </footer>
</th:block>
</html>