.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom : 200px;
}

body {
    font-family: 'Dongle', sans-serif;
    text-align: center;
}

.game-button {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    margin: 10px;
    padding: 10px 20px;
    color: #000000;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: all 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
}

.game-button:hover {
    background: linear-gradient(90deg, #eae8ff, #dcd5ff);
    transform: scale(1.15);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

a.atag{
    text-decoration: none;
    color: #c5baff;
    padding:10px;
}

#timer {
    font-size: 70px;
    margin-bottom: 10px;
}


#guessInput {
    font-size: 40px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 200px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake-animation {
    animation: shake 5s;
}



#toastContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width:50px;
    opacity: 1;

}

.toast{
    border-color: #e5d3fb91;
}
#errorContainer{
    font-size:40px;
}

