<!DOCTYPE html>
<th:block th:fragment="chatFragment">
    <html>
    <head>
        <title>Hello WebSocket!!</title>
        <link href="/main.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <script src="/app.js"></script>
        <style>
            .game-button {

            }

            .conversation-container {
                height: 300px;
                overflow-y: auto;
            }

            .conversation-table {
                table-layout: fixed;
                width: 100%;
            }
        </style>
    </head>
    <body>
    <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript
        being
        enabled. Please enable
        Javascript and reload this page!</h2></noscript>
    <div id="main-content" class="container">
        <div class="row">
            <form>
                <button id="connect" hidden="hidden" class="game-button" type="submit">연결</button>
                <button id="disconnect" hidden="hidden" class="game-button" type="submit" disabled="disabled">연결 끊기</button>
            </form>
            <form class="form-inline">
                <input type="text" id="name" class="form-control" placeholder="메세지 입력">
                <button id="send" class="game-button" type="submit">Send</button>
            </form>
        </div>
        <div class="row conversation-container">
            <table id="conversation" class="table table-striped conversation-table">
                <thead>
                <tr>
                    <th>Greetings</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
    </body>
    </html>
</th:block>
