<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <title>퀴즈맞추기 게임 선택</title>
  <style>


  a.game-button{
    width: 222px;
    height:117px;
    margin:30px
  }

  </style>
</head>
<th:block layout:fragment="content">
  <div class="container">
    <a th:href="@{/game1}" class="game-button">사자 성어</a>
    <a th:href="@{/game2}" class="game-button">인물 퀴즈</a>
  </div>

</th:block>
</html>