<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <title>퀴즈맞추기 게임 선택</title>
  <style>

    h1 {
      color: #333;
    }


    .game-button {
      margin: 10px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    .game-button:hover {
      background-color: #45a049;
    }

  </style>
</head>
<body>
<th:block layout:fragment="content">
  <div class="container">
    <a th:href="@{/game}" class="game-button">단어 이어서 말하기</a>
  </div>

</th:block>
</body>
</html>